label {
    display: block;
    margin-bottom: 10px;
}
  
select {
    padding: 8px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 4px;
    width: 70%;
    box-sizing: border-box;
    /* background-color: #eddcd9; */
    background-color: #FFF;
    color: #264143;
}
  
option {
    font-size: 16px;
}